.nav-padding {
  padding: 0px 120px;
}

.text-color {
  color: rgb(0, 0, 0) !important;
}

.nav-bg {
  background-color: #fff;
}

.manner {
  padding: 20px;
}

.manner:hover {
  background-color: #f1f1f1ef;
  border-radius: 10px;
  cursor: pointer;
}